@import '../../utils/variables';

.about-me {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 90%;
  margin: 150px auto;

  &--top {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    h2 {
      font-size: 3rem;
      margin-bottom: 10px;
    }
  }

  &--first {
    margin-top: 150px;

    &-map {
      position: absolute;
      top: 0;
      right: 0;
      transform: translateX(175px);

      img {
        width: 750px;
        filter: contrast(100%);
        opacity: 0.2;
      }

      &-pin {
        position: absolute;
        top: 71%;
        right: 38%;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background-color: $highlight-color;
        display: flex;
        align-items: center;
        justify-content: center;
        animation: pin-loop 2s ease-in-out infinite;

        &-inner {
          width: 15px;
          height: 15px;
          border-radius: 50%;
          background-color: $highlight-color;
        }
      }
    }

    &-red {
      display: flex;
      align-items: center;
      justify-content: space-between;
      clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);

      &--image {
        width: 75%;
        clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);

        img {
          width: 100%;
          transform: scale(1);
          transition: all ease-in-out 0.3s;

          &:hover {
            transform: scale(1.1);
            transition: all ease-in-out 0.3s;
          }
        }
      }

      &--text {
        clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
        display: flex;
        align-items: center;
        justify-content: center;

        p {
          width: 65%;
          align-self: center;
          font-weight: lighter;
        }
      }
    }

    &-green {
      display: flex;
      align-items: center;
      justify-content: space-between;

      img {
        transform: translateY(-125px);
        width: 45%;
        filter: contrast(100%);
        transition: all ease-in-out 0.3s;

        &:hover {
          filter: contrast(90%);
          transition: all ease-in-out 0.3s;
        }
      }

      &--text {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        p {
          width: 60%;
        }
      }
    }
  }

  &--second {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 75px;

    img {
      width: 50%;
      filter: grayscale(100%);
      transition: filter ease-in-out 0.3s;

      &:hover {
        filter: grayscale(0%);
        transition: filter ease-in-out 0.3s;
      }
    }

    &-text {
      height: 50%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: space-between;
      clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);

      p {
        width: 75%;
        text-align: end;
        font-weight: lighter;
        margin-top: 50px;
      }
    }

    &-line {
      height: 500px;
      width: 2px;
      border-radius: 8px;
      background-color: $highlight-color;
      margin-top: 50px;
    }
  }

  &--third {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    &-text {
      height: 75%;
      width: 40%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-around;

      p {
        margin: 0;
      }

      p:nth-child(1) {
        font-weight: lighter;
      }

      p:nth-child(2) {
        height: 50px;
        font-size: 6rem;
        margin-bottom: 25px;
        color: $highlight-color;
      }

      p:nth-child(3) {
        font-size: 1.5rem;
        font-weight: bold;
      }
    }

    &-line {
      height: 500px;
      width: 2px;
      border-radius: 8px;
      background-color: $highlight-color;
      margin-top: 100px;
    }

    img {
      width: 50%;
    }
  }

  &--four {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    img {
      width: 50%;
    }

    &-text {
      height: 50%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: space-between;
      clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);

      p {
        width: 75%;
        text-align: end;
        font-weight: lighter;
        margin-top: 50px;
      }

      p:nth-child(3) {
        font-weight: bold;
      }
    }

    &-line {
      height: 450px;
      width: 2px;
      border-radius: 8px;
      background-color: $highlight-color;
      margin-top: 50px;
    }
  }

  &--five {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 75px;

    img {
      width: 50%;
    }

    &-text {
      height: 50%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);

      p {
        width: 75%;
        text-align: start;
        font-weight: lighter;
        margin-top: 50px;
      }
    }

    &-line {
      height: 750px;
      width: 2px;
      border-radius: 8px;
      background-color: $highlight-color;
      margin-top: 50px;
    }
  }

  &--six {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-100%);

    p {
      width: 80%;
      font-size: 2.5rem;
      font-weight: bold;
    }
  }

  &--final {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px 0 350px;

    &-container {
      position: relative;
      width: 400px;
      height: 400px;
      transform-style: preserve-3d;
      animation: rotate-carousel 20s linear infinite;
    }

    &-item {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform-origin: center;
      transform-style: preserve-3d;
      transform: rotateY(calc(var(--i) * 45deg))
        translateZ(482px);

      img {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
      }

      &-text {
        position: absolute;
        bottom: 20%;
        left: 33%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        width: 150px;
        background-color: $highlight-color;

        p {
          font-size: 1.5rem;
          font-weight: bold;
          text-transform: uppercase;
        }
      }
    }
  }

  &--cta {
    height: 550px;
    width: 100%;
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    h2 {
      font-size: 5rem;
      width: 40%;
      font-weight: bolder;
      text-align: center;
      text-transform: uppercase;
    }
  }
}

.show-first-about {
  .about-me--first-red {
    &--image {
      img {
        animation: show-left 0.5s ease-in-out forwards;
      }
    }

    &--text {
      p {
        animation: show-top 0.8s ease-in-out forwards;
      }
    }
  }
}

.show-second-about {
  .about-me--second {
    img {
      animation: show-opac 0.8s ease-in-out forwards;
    }

    &-text {
      h2 {
        animation: show-top 0.8s ease-in-out forwards;
      }

      p {
        animation: show-top 1s ease-in-out forwards;
      }
    }

    &-line {
      animation: show-scale-y 1s ease-in-out forwards;
    }
  }
}

@keyframes rotate-carousel {
  0% {
    transform: perspective(1000px) rotateY(0deg);
  }

  100% {
    transform: perspective(1000px) rotateY(360deg);
  }
}

@keyframes pin-loop {
  0% {
    transform: scale(0.5);
  }

  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.5);
  }
}

@keyframes show-left {
  0% {
    transform: translateX(-250px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes show-bottom {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-100%);
  }
}

@keyframes show-top {
  0% {
    transform: translateY(-150px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes show-opac {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes show-scale-y {
  0% {
    transform: scaleY(0);
  }

  100% {
    transform: scaleY(1);
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  .about-me {
    width: 100%;
    margin: 150px 0;

    &--first {
      margin-top: 50px;

      &-map {
        transform: translate(50px, -50px);

        &-pin {
          top: 68%;
          right: 36%;
        }

        img {
          width: 320px;
        }
      }

      &-red {
        flex-direction: column-reverse;

        img {
          width: 100%;
        }

        &--text {
          text-align: center;
          margin: 50px 0;
        }
      }

      &-green {
        flex-direction: column;

        img {
          width: 100%;
          transform: translateY(0);
        }

        &--text {
          text-align: center;
          margin: 50px 0;
        }
      }
    }

    &--second {
      flex-direction: column-reverse;

      img {
        width: 100%;
      }

      &-text {
        align-items: center;

        p {
          text-align: center;
        }
      }

      &-line {
        height: 200px;
      }
    }

    &--third {
      margin-top: 50px;
      width: 100%;
      flex-direction: column;
      align-items: center;

      img {
        width: 100%;
      }

      &-line {
        height: 200px;
        margin-top: 25px;
      }

      &-text {
        width: 90%;
        align-items: center;
        text-align: center;

        p:nth-child(3) {
          font-size: 1.25rem;
        }
      }
    }

    &--four {
      flex-direction: column-reverse;
      margin-top: 50px;

      img {
        width: 100%;
      }

      &-text {
        align-items: center;

        p {
          text-align: center;
        }
      }

      &-line {
        height: 200px;
      }
    }

    &--five {
      flex-direction: column;

      img {
        width: 100%;
      }

      &-text {
        align-items: center;

        p {
          text-align: center;
        }
      }

      &-line {
        height: 200px;
      }
    }

    &--six {
      transform: translateY(0);

      p {
        font-size: 1.25rem;
        margin: 50px 0;
        text-align: center;
      }
    }

    &--final {
      margin: 75px 0;

      &-container {
        width: 200px;
        height: 200px;
      }

      &-item {
        transform: rotateY(calc(var(--i) * 45deg))
          translateZ(241px);
      }
    }

    &--cta {
      height: 400px;

      h2 {
        width: 90%;
        font-size: 3rem;
      }
    }
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .about-me {
    &--cta {
      height: 500px;

      h2 {
        width: 80%;
      }
    }
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: 'portrait') and (-webkit-min-device-pixel-ratio: 1) {
  .about-me {
    &--first {
      margin-top: 50px;

      &-map {
        transform: translate(150px, -150px);

        &-pin {
          top: 70%;
          right: 38%;
        }

        img {
          width: 550px;
        }
      }

      &-red {
        flex-direction: column-reverse;

        img {
          width: 100%;
        }

        &--text {
          text-align: center;
          margin: 50px 0;
        }
      }

      &-green {
        flex-direction: column;

        img {
          width: 100%;
          transform: translateY(0);
        }

        &--text {
          text-align: center;
          margin: 50px 0;
        }
      }
    }

    &--second {
      flex-direction: column-reverse;

      img {
        width: 100%;
      }

      &-text {
        align-items: center;

        p {
          text-align: center;
        }
      }

      &-line {
        height: 200px;
      }
    }

    &--third {
      margin-top: 50px;
      width: 100%;
      flex-direction: column;
      align-items: center;

      img {
        width: 100%;
      }

      &-line {
        height: 200px;
        margin-top: 25px;
      }

      &-text {
        width: 90%;
        align-items: center;
        text-align: center;

        p:nth-child(3) {
          font-size: 1.25rem;
        }
      }
    }

    &--four {
      flex-direction: column-reverse;
      margin-top: 50px;

      img {
        width: 100%;
      }

      &-text {
        align-items: center;

        p {
          text-align: center;
        }
      }

      &-line {
        height: 200px;
      }
    }

    &--five {
      flex-direction: column;

      img {
        width: 100%;
      }

      &-text {
        align-items: center;

        p {
          text-align: center;
        }
      }

      &-line {
        height: 200px;
      }
    }

    &--six {
      transform: translateY(0);

      p {
        font-size: 2rem;
        margin: 50px 0;
        text-align: center;
      }
    }

    &--final {
      margin: 350px 0;
    }
  }
}
