@import '../../utils/variables';

.hero-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1050px;
  background-image: url('../../assets/images/berlin.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  opacity: 0.3;
  z-index: -1;

  &--gradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1050px;
    z-index: -1;
    background: linear-gradient(
      transparent,
      $primary-color
    );
  }
}

.hero {
  position: relative;
  width: 100%;
  height: 720px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;

  &-title {
    width: 464px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transform: translateY(35px);

    h1 {
      font-size: 5rem;
      text-transform: uppercase;
    }

    &--name {
      position: relative;
      clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);

      h1 {
        opacity: 0.3;
      }
    }

    &--surname {
      clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);

      h1 {
        opacity: 0.5;
      }
    }
  }

  &-cta {
    position: absolute;
    bottom: -65px;
    opacity: 0;
    z-index: 2;
  }

  &-image {
    position: relative;
    width: 400px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);

    img {
      width: 100%;
      filter: contrast(110%);
      transform: translateY(150px);
      opacity: 0;
      z-index: 1;
    }

    &--overlay {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      clip-path: circle(20px at var(--x, 0) var(--y, 0));
      transition: all 0.8s linear;
      z-index: 1;

      &:hover {
        clip-path: circle(100% at var(--x, 0) var(--y, 0));
        transition: all 0.8s linear;
      }
    }
  }

  &-underline {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    opacity: 0.5;
  }

  &-links {
    height: 150px;
    width: 24px;
    position: absolute;
    bottom: 25px;
    left: 0;

    .social {
      flex-direction: column;

      a {
        opacity: 0;
      }
    }
  }

  &-scroll {
    position: absolute;
    bottom: 25px;
    right: 0;
    display: flex;
    align-items: flex-end;
    opacity: 0;

    &--line {
      transform: translateY(-115px);

      svg {
        overflow: visible;
      }
    }

    &--text {
      width: auto;
      transform: rotate(90deg) translate(-45px, -15px);

      p {
        margin: 0;
        opacity: 0.6;
        letter-spacing: 2px;
        text-transform: uppercase;
        font-size: 0.75rem;
        font-weight: lighter;
      }
    }
  }
}

.show {
  .hero {
    &-title {
      &--name {
        h1 {
          animation: show-title 1.3s ease-in-out forwards;
        }
      }

      &--surname {
        h1 {
          animation: show-title 1.8s ease-in-out forwards;
        }
      }
    }

    &-cta {
      animation: show-cta 1.3s ease-in-out forwards;
    }

    &-image {
      img {
        animation: show-image 1s ease-in-out forwards;
      }
    }

    &-underline {
      animation: show-underline 1.3s linear forwards;
    }

    &-links {
      a {
        animation: show-link 0.5s ease-in-out forwards;
      }

      a:nth-child(1) {
        animation-delay: 0.8s;
      }

      a:nth-child(2) {
        animation-delay: 0.5s;
      }

      a:nth-child(3) {
        animation-delay: 0.3s;
      }
    }

    &-scroll {
      animation: show-scroll 1s ease-in forwards;

      &--line {
        svg {
          transform: translateY(75px);

          path {
            animation: loop-mouse 2.1s ease-in-out infinite;
          }
        }
      }
    }
  }
}

.hide {
  .hero {
    &-title {
      &--name {
        h1 {
          animation: hide-title 1.3s ease-in-out forwards;
        }
      }

      &--surname {
        h1 {
          animation: hide-title 1.8s ease-in-out forwards;
        }
      }
    }

    &-cta {
      animation: hide-cta 1.3s ease-in-out forwards;
    }

    &-image {
      img {
        animation: hide-image 1s ease-in-out forwards;
      }
    }

    &-underline {
      animation: hide-underline 1.3s linear forwards;
    }

    &-links {
      a {
        animation: hide-link 0.5s ease-in-out forwards;
      }

      a:nth-child(1) {
        animation-delay: 0.8s;
      }

      a:nth-child(2) {
        animation-delay: 0.5s;
      }

      a:nth-child(3) {
        animation-delay: 0.3s;
      }
    }

    &-scroll {
      animation: hide-scroll 1s ease-in forwards;
    }
  }
}

.red-show {
  .hero-title--name {
    h1 {
      animation: show-title-red 2s ease-in-out forwards;
    }
  }

  .hero-title--surname {
    h1 {
      animation: show-title-red 2.5s ease-in-out forwards;
    }
  }
}

@keyframes show-title {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0%);
  }
}

@keyframes show-title-red {
  0% {
    transform: translateY(0);
    color: $secondary-color;
  }

  50% {
    transform: translateY(100%);
    color: $highlight-color;
  }

  75% {
    transform: translateY(0);
    color: $highlight-color;
  }

  100% {
    transform: translateY(100%);
    color: $secondary-color;
  }
}

@keyframes show-image {
  0% {
    transform: translateY(150px);
    opacity: 0;
  }

  100% {
    transform: translateY(4px);
    opacity: 1;
  }
}

@keyframes show-cta {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes show-underline {
  0% {
    transform: scaleX(0);
  }

  100% {
    transform: scaleX(1);
  }
}

@keyframes show-link {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes show-scroll {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes hide-title {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(100%);
  }
}

@keyframes hide-image {
  0% {
    transform: translateY(4px);
    opacity: 1;
  }

  100% {
    transform: translateY(150px);
    opacity: 0;
  }
}

@keyframes hide-cta {
  0% {
    transform: translateY(65px);
    opacity: 1;
  }

  100% {
    transform: translateY(100px);
    opacity: 0;
  }
}

@keyframes hide-underline {
  0% {
    transform: scaleX(1);
  }

  100% {
    transform: scaleX(0);
  }
}

@keyframes hide-link {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes hide-scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes loop-mouse {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(50%);
  }

  100% {
    transform: translateY(0);
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  .hero {
    height: 580px;

    &-title {
      h1 {
        font-size: $heading-size-mobile;
      }
    }

    &-image {
      width: 300px;

      &--overlay {
        display: none;
      }
    }

    &-links {
      display: none;
    }

    &-scroll {
      display: none;
    }
  }

  .hero-background {
    height: 550px;
    background-position: top;

    &--gradient {
      height: 550px;
    }
  }
}
