@import '../../utils/variables';

.hero-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1050px;
  background-image: url('../../assets/images/berlin.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  opacity: 0.3;
  z-index: -1;

  &--gradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1050px;
    z-index: -1;
    background: linear-gradient(
      transparent,
      $primary-color
    );
  }
}

.hero {
  position: relative;
  width: 100%;
  height: 720px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;

  &-title {
    width: 464px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transform: translateY(35px);

    h1 {
      font-size: 5rem;
      text-transform: uppercase;
    }

    &:hover {
      .hero-title--name {
        ::after {
          content: 'Trained';
          position: absolute;
          bottom: 0;
          left: 0;
          color: $highlight-color;
          animation: show-title 0.3s ease-in-out forwards;
        }
      }

      .hero-title--surname {
        ::after {
          content: 'Actor';
          position: absolute;
          bottom: 0;
          left: 0;
          color: $highlight-color;
          animation: show-title 0.3s ease-in-out forwards;
        }
      }
    }

    &--name {
      position: relative;
      clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);

      h1 {
        opacity: 0.3;
      }
    }

    &--surname {
      clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);

      h1 {
        opacity: 0.5;
      }
    }
  }

  &-cta {
    position: absolute;
    bottom: -65px;
    left: 44.5%;
    opacity: 0;
    z-index: 2;
  }

  &-image {
    position: relative;
    width: 400px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transform: translateY(4px);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);

    img {
      width: 100%;
      filter: contrast(125%);
      z-index: 1;
    }

    &--overlay {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      clip-path: circle(80px at var(--x, 0) var(--y, 0));
      transition: all 0.8s linear;
      z-index: 1;

      &:hover {
        clip-path: circle(100% at var(--x, 0) var(--y, 0));
        transition: all 0.8s linear;
      }
    }
  }

  &-underline {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    opacity: 0.5;
  }

  &-links {
    height: 150px;
    width: 24px;
    position: absolute;
    bottom: 25px;
    left: 0;

    .social {
      flex-direction: column;

      a {
        opacity: 0;
      }
    }
  }

  &-scroll {
    position: absolute;
    bottom: 25px;
    right: 0;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    &--line {
      svg {
        height: 250px;
      }
    }

    &--text {
      width: auto;
      transform: rotate(90deg) translate(-45px, -15px);

      p {
        margin: 0;
        opacity: 0.6;
        letter-spacing: 2px;
        text-transform: uppercase;
        font-size: 0.75rem;
        font-weight: lighter;
      }
    }
  }
}

.show {
  .hero {
    &-title {
      &--name {
        h1 {
          animation: show-title 1.3s ease-in-out forwards;
        }
      }

      &--surname {
        h1 {
          animation: show-title 1.8s ease-in-out forwards;
        }
      }
    }

    &-cta {
      animation: show-cta 1.3s ease-in-out forwards;
    }

    &-image {
      img {
        animation: show-image 1s ease-in-out forwards;
      }
    }

    &-underline {
      animation: show-underline 1.3s linear forwards;
    }

    &-links {
      a {
        animation: show-link 0.5s ease-in-out forwards;
      }

      a:nth-child(1) {
        animation-delay: 0.8s;
      }

      a:nth-child(2) {
        animation-delay: 0.5s;
      }

      a:nth-child(3) {
        animation-delay: 0.3s;
      }
    }

    &-scroll {
      &--line {
        svg {
          transform: translateY(75px);

          path {
            animation: loop-mouse 2.1s ease-in-out infinite;
          }
        }
      }
    }
  }
}

.hide {
  .hero {
    &-title {
      h1 {
        animation: hide-title 0.8s ease-in-out forwards;
      }
    }

    &-cta {
      animation: hide-cta 1.3s ease-in-out forwards;
    }

    &-image {
      img {
        animation: hide-image 1s ease-in-out forwards;
      }
    }

    &-underline {
      animation: hide-underline 1.3s linear forwards;
    }

    &-links {
      a {
        animation: hide-link 0.5s ease-in-out forwards;
      }

      a:nth-child(1) {
        animation-delay: 0.8s;
      }

      a:nth-child(2) {
        animation-delay: 0.5s;
      }

      a:nth-child(3) {
        animation-delay: 0.3s;
      }
    }
  }
}

@keyframes show-title {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0%);
  }
}

@keyframes show-image {
  0% {
    transform: translateY(150%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes show-cta {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes show-underline {
  0% {
    transform: scaleX(0);
  }

  100% {
    transform: scaleX(1);
  }
}

@keyframes show-link {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes hide-title {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(100%);
  }
}

@keyframes hide-image {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(150%);
  }
}

@keyframes hide-cta {
  0% {
    transform: translateY(65px);
    opacity: 1;
  }

  100% {
    transform: translateY(100px);
    opacity: 0;
  }
}

@keyframes hide-underline {
  0% {
    transform: scaleX(1);
  }

  100% {
    transform: scaleX(0);
  }
}

@keyframes hide-link {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes loop-mouse {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(50%);
  }

  100% {
    transform: translateY(0);
  }
}
