@import '../../utils/variables.scss';

.button {
  cursor: pointer;
  text-transform: uppercase;
  font-size: 0.75rem;
  width: 200px;
  height: 50px;
  gap: 10px;

  &-cta {
    &--primary {
      position: relative;
      height: 140px;
      width: 140px;
      border-radius: 50%;
      border: 1px solid $secondary-color;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgba($primary-color, 0.6);
      z-index: 2;
      transform: scale(1);
      transition: all 0.2s ease-in-out;

      .round-container {
        position: absolute;
        top: 0;
        left: 0;
        height: 130px;
        width: 130px;
        border-radius: 50%;
        border: 1px solid $shades-gray;
        transform: translate(2.5%, 2.5%);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: rgba($primary-color, 0.6);
        transition: all ease-in-out 0.4s;
        z-index: 1;

        label {
          cursor: inherit;
          font-weight: bold;
          transition: all 0.4s ease-in-out;
        }

        > svg {
          margin-top: 15px;
          width: 16px;
          fill: $highlight-color;
          transform: rotate(90deg) translateX(0);
          transition: all ease-in-out 0.4s;
        }
      }

      &:hover {
        transform: scale(1.2);
        transition: all ease-in-out 0.4s;

        .round-container {
          background-color: $secondary-color;
          transition: all 0.4s ease-in-out;

          label {
            letter-spacing: 3px;
            color: $primary-color;
            transition: all 0.4s ease-in-out;
          }

          > svg {
            transform: rotate(90deg) translateX(10px);
          }
        }
      }
    }

    &--secondary {
      font-weight: bold;
      color: $secondary-color;
      border: none;
      background: none;
      width: auto;
      letter-spacing: 0;
      transition: all ease-in 250ms;

      svg {
        margin-left: 10px;
        transform-origin: left center;
        transition: all ease-in 250ms;
      }

      &:hover {
        letter-spacing: 1px;
        transition: all ease-in 250ms;

        svg {
          transform: scaleX(1.2);
          transform-origin: left center;
          transition: all ease-in 250ms;
        }
      }
    }
  }
}
