@import '../../utils/variables';

.studies {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 100px 0;

  h2 {
    font-size: 3rem;
  }

  &-title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-filters {
    width: 75%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 100px;

    &--item {
      cursor: pointer;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      border: 1px solid $secondary-color;
      background-color: $primary-color;
      transition: all ease-in-out 0.2s;
      display: flex;
      align-items: center;
      justify-content: center;
      transform: scale(1);
      transition: all ease-in-out 0.2s;

      &:hover {
        transform: scale(1.1);
        transition: all ease-in-out 0.2s;
      }

      p {
        font-weight: bold;
      }
    }

    .active {
      background-color: $highlight-color;
      transition: all ease-in-out 0.2s;
    }
  }

  &-list {
    margin-top: 100px;
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;

    &--row {
      width: 100%;
      height: 100px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border: 1px solid $secondary-color;
      padding: 10px 15px;

      &-name {
        width: 50%;

        p {
          font-weight: lighter;
        }
      }

      &-place {
        width: 20%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        p {
          font-weight: lighter;
        }

        &--circle {
          width: 5px;
          height: 5px;
          border-radius: 50%;
          border: 1px solid $secondary-color;
          background: transparent;
        }
      }
    }
  }

  &-languages {
    width: 100%;
    margin: 100px 0;

    &--title {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &--list {
      margin-top: 25px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;

      &-row {
        width: 25%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &-stars {
          svg {
            margin-left: 5px;
          }
        }
      }
    }
  }
}

.show-list {
  animation: show-list 0.4s ease-in-out forwards;
}

.hide-list {
  animation: hide-list 0.4s ease-in-out forwards;
}

@keyframes show-list {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes hide-list {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  .studies {
    &-filters {
      margin-top: 50px;
      width: 85%;
      height: 120px;
      justify-content: flex-start;
      flex-wrap: nowrap;
      overflow-x: auto;

      &--item {
        flex: 0 0 auto;
      }
    }

    &-list {
      &--row {
        flex-direction: column;
        height: fit-content;

        &-name {
          width: 100%;

          p {
            text-align: center;
          }
        }

        &-place,
        &-year {
          width: 50%;
        }
      }
    }

    &-languages {
      &--list {
        &-row {
          width: 80%;
        }
      }
    }
  }
}
