@import '../../utils/variables';

.footer {
  position: relative;
  width: 100%;
  height: 660px;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 100px;

  &-underline {
    align-self: flex-start;
    width: 100%;
    height: 2px;
    background-color: $secondary-color;
    border-radius: 8px;
  }

  &-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    width: 50%;
    height: 90%;

    &--top {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-around;
      align-self: center;
      height: 50%;
      width: 100%;

      &-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 373px;

        h2 {
          font-size: 3rem;
        }

        h2:last-child {
          color: $highlight-color;
        }
      }

      &-mail {
        cursor: pointer;
        text-transform: uppercase;
        font-weight: lighter;
      }

      &-links {
        width: 30%;

        .social {
          margin-bottom: 10px;
        }

        &--cv {
          width: 90%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          color: $secondary-color;
          transition: all 0.3s ease-in-out;

          &:hover {
            color: $highlight-color;
            transition: all 0.3s ease-in-out;
          }
        }
      }
    }

    &--copyright {
      font-weight: lighter;
      font-size: $paragraph-one-size;
    }
  }
}

.show {
  .footer {
    &-underline {
      animation: show-underline 1s ease-in-out forwards;
    }

    &-left {
      &--top {
        &-title {
          h1 {
            animation: show-footer-left 0.5s ease-in-out
              forwards;
          }
        }

        &-mail {
          animation: show-footer-left 0.6s ease-in-out
            forwards;
        }

        &-links {
          animation: show-footer-left 0.7s ease-in-out
            forwards;
        }
      }

      &--copyright {
        animation: show-footer-left 0.7s ease-in-out
          forwards;
      }
    }
  }
}

.hide {
  .footer {
    &-underline {
      animation: hide-underline 1s ease-in-out forwards;
    }

    &-left {
      &--top {
        &-title {
          h1 {
            animation: hide-footer-left 0.5s ease-in-out
              forwards;
          }
        }

        &-mail {
          animation: hide-footer-left 0.6s ease-in-out
            forwards;
        }

        &-links {
          animation: hide-footer-left 0.7s ease-in-out
            forwards;
        }
      }

      &--copyright {
        animation: hide-footer-left 0.7s ease-in-out
          forwards;
      }
    }
  }
}

@keyframes show-footer-left {
  0% {
    transform: translateX(-500px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes hide-footer-left {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-500px);
  }
}

@keyframes show-underline {
  0% {
    transform: scaleX(0);
    transform-origin: left;
  }

  100% {
    transform: scaleX(1);
  }
}
@keyframes hide-underline {
  0% {
    transform: scaleX(1);
    transform-origin: right;
  }

  100% {
    transform: scaleX(0);
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  .footer {
    height: 530px;
    margin-top: 50px;
    padding-top: 0;
    align-items: center;
    justify-content: space-between;

    &-left {
      width: 100%;

      &--top {
        width: 100%;
        align-items: center;

        &-title {
          flex-direction: column;
          width: 100%;
          margin-bottom: 25px;
        }

        &-links {
          width: auto;

          .social {
            width: 150px;
          }
        }
      }

      &--copyright {
        width: 100%;
        text-align: center;
      }
    }
  }
}
