@import '../../utils/variables';

.footer {
  position: relative;
  width: 100%;
  height: 660px;
  margin-top: 100px;
  display: flex;

  &-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    width: 50%;
    height: 92%;

    &--top {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: flex-start;
      align-self: center;
      height: 70%;
      width: 100%;

      &-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 440px;

        h1:last-child {
          color: $highlight-color;
        }
      }

      &-mail {
        cursor: pointer;
        text-transform: uppercase;
        font-weight: lighter;
      }

      &-links {
        width: 30%;

        .social {
          margin-bottom: 10px;
        }
      }
    }

    &--copyright {
      font-weight: lighter;
      font-size: $paragraph-one-size;
    }
  }

  &-box {
    svg {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
    }

    svg:last-child {
      transform: translateX(-196px);
    }
  }

  &-circle {
    svg {
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
}

.show {
  .footer {
    &-left {
      &--top {
        &-title {
          h1 {
            animation: show-footer-left 0.5s ease-in-out
              forwards;
          }
        }

        &-mail {
          animation: show-footer-left 0.6s ease-in-out
            forwards;
        }

        &-links {
          animation: show-footer-left 0.7s ease-in-out
            forwards;
        }
      }

      &--copyright {
        animation: show-footer-left 0.7s ease-in-out
          forwards;
      }
    }

    &-box {
      svg:first-child {
        animation: show-footer-box 0.8s ease-in-out forwards;
      }

      svg:last-child {
        animation: show-footer-border 1s linear forwards;
      }
    }

    &-circle {
      svg {
        animation: show-footer-circle 1s ease-in-out
          forwards;
      }
    }
  }
}

.hide {
  .footer {
    &-left {
      &--top {
        &-title {
          h1 {
            animation: hide-footer-left 0.5s ease-in-out
              forwards;
          }
        }

        &-mail {
          animation: hide-footer-left 0.6s ease-in-out
            forwards;
        }

        &-links {
          animation: hide-footer-left 0.7s ease-in-out
            forwards;
        }
      }

      &--copyright {
        animation: hide-footer-left 0.7s ease-in-out
          forwards;
      }
    }

    &-box {
      svg:first-child {
        animation: hide-footer-box 0.8s ease-in-out forwards;
      }

      svg:last-child {
        animation: hide-footer-border 1s linear forwards;
      }
    }

    &-circle {
      svg {
        animation: hide-footer-circle 1s ease-in-out
          forwards;
      }
    }
  }
}

@keyframes show-footer-left {
  0% {
    transform: translateX(-500px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes show-footer-circle {
  0% {
    transform: scale(0) translate(500px, 150px);
    transform-origin: right bottom;
  }

  100% {
    transform: scale(1.2) translate(170px, -13px);
  }
}

@keyframes show-footer-box {
  0% {
    transform: translateX(-400px);
  }

  100% {
    transform: translateX(-200px);
  }
}

@keyframes show-footer-border {
  0% {
    stroke-dashoffset: 1000;
    stroke-dasharray: 1000;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 0;
  }
}

@keyframes hide-footer-left {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-500px);
  }
}

@keyframes hide-footer-circle {
  0% {
    transform: scale(1.2) translate(170px, -13px);
  }

  100% {
    transform: scale(0) translate(500px, 150px);
    transform-origin: right bottom;
  }
}

@keyframes hide-footer-box {
  0% {
    transform: translateX(-200px);
  }

  100% {
    transform: translateX(-400px);
  }
}

@keyframes hide-footer-border {
  0% {
    stroke-dashoffset: 0;
    stroke-dasharray: 0;
  }

  100% {
    stroke-dashoffset: 1000;
    stroke-dasharray: 1000;
  }
}
