@import '../src/utils/variables.scss';

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100dvh;

  font-family: $secondary-font-family;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;

  color: $primary-color;
  background-color: $secondary-color;
}

a {
  text-decoration: inherit;
}

h1 {
  font-family: $primary-font-family;
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 0.5rem;
}
