@import '../src/utils/variables.scss';

body {
  margin: 0;
  display: flex;
  place-items: center;
  width: 100dvw;
  height: 100dvh;

  font-family: $secondary-font-family;
  font-size: $paragraph-one-size;
  line-height: normal;
  font-weight: 400;

  color: $secondary-color;
  background-color: $primary-color;

  cursor: none;

  #root {
    width: 100%;
    height: 100%;
  }
}

a {
  color: $secondary-color;
  text-decoration: inherit;
}

h1 {
  font-family: $primary-font-family;
  font-size: $heading-size;
  letter-spacing: $heading-letter-spacing;
  margin: 0;
}

h2 {
  font-family: $primary-font-family;
  font-size: $subheading-size;
  letter-spacing: $subheading-letter-spacing;
  margin: 0;
}

p {
  letter-spacing: 2px;
}

button {
  font-size: $paragraph-two-size;
  border-radius: 0.5rem;
  font-weight: bold;
}

label {
  font-size: $paragraph-two-size;
  color: $secondary-color;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  body {
    min-height: 100dvh;
  }

  h1 {
    font-size: $heading-size-mobile;
    letter-spacing: $heading-letter-spacing-mobile;
  }

  h2 {
    font-size: $subheading-size-mobile;
    letter-spacing: $subheading-letter-spacing-mobile;
  }

  p {
    font-size: $paragraph-one-size-mobile;
    letter-spacing: 2px;
  }
}
