@import '../src/utils/variables.scss';

body {
  margin: 0;
  display: flex;
  place-items: center;
  width: 100dvw;
  height: 100dvh;

  font-family: $secondary-font-family;
  font-size: $paragraph-one-size;
  line-height: normal;
  font-weight: 400;

  color: $secondary-color;
  background-color: $primary-color;
  #root {
    width: 100%;
    height: 100%;
  }
}

a {
  color: $secondary-color;
  text-decoration: inherit;
}

h1 {
  font-family: $primary-font-family;
  font-size: $heading-size;
  letter-spacing: $heading-letter-spacing;
  margin: 0;
}

button {
  font-size: $paragraph-two-size;
  border-radius: 0.5rem;
  font-weight: bold;
}

label {
  font-size: $paragraph-two-size;
  color: $secondary-color;
}
