@import '../../utils/variables';

.work {
  min-height: 1750px;
  margin-top: 250px;
  padding-bottom: 200px;

  &-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h2 {
      font-weight: bold;
      font-size: 3rem;
      margin-bottom: 10px;
    }
  }

  &-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  &-more {
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 100px 0;

    &--line {
      width: 2px;
      height: 75px;
      border-radius: 8px;
      background-color: $secondary-color;
    }
  }

  &-card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: all 0.1s ease-in;
    margin: 150px 0 100px;

    &--top {
      height: 500px;
      padding-bottom: 25px;
      display: flex;
      align-items: center;
      justify-content: center;

      &-left,
      &-right {
        width: 35%;
      }

      &-left {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);

        h1 {
          width: 75%;
          font-weight: lighter;
          font-family: $secondary-font-family;
        }

        &--award {
          clip-path: polygon(
            0 0,
            100% 0,
            100% 100%,
            0 100%
          );

          p {
            font-weight: lighter;
            font-size: $paragraph-one-size;
          }
        }

        &--underline {
          width: 35px;
          height: 2px;
          border-radius: 8px;
          background-color: $highlight-color;
        }

        &--year {
          clip-path: polygon(
            0 0,
            100% 0,
            100% 100%,
            0 100%
          );
        }

        &--description {
          width: 90%;
          clip-path: polygon(
            0 0,
            100% 0,
            100% 100%,
            0 100%
          );

          p {
            line-height: 2;
            font-size: $paragraph-one-size;
            font-weight: lighter;
            letter-spacing: 1px;
          }
        }
      }

      &-right {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        &--cover {
          img {
            box-shadow: -10px 8px 24px 0px
              rgba(0, 0, 0, 0.4);
            width: 250px;
            transform: scale(0);
          }
        }
      }
    }

    &--bottom {
      width: 100dvw;
      height: 900px;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;

      &-image {
        position: relative;

        img {
          width: 1000px;
          height: 700px;
          object-fit: contain;
          z-index: 1;
        }

        video {
          position: absolute;
          top: 0;
          left: 0;
          width: 1000px;
          height: 700px;
          object-fit: contain;
          opacity: 0;
          background-color: black;
          z-index: 3;
        }

        &--order {
          position: absolute;
          top: 0;
          right: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          transform: translateY(-60px);
          clip-path: polygon(
            0 0,
            100% 0,
            100% 100%,
            0 100%
          );
          z-index: 4;

          h1 {
            font-family: $primary-font-family;
            font-size: 6rem;
            font-style: italic;
            margin: 0;
          }
        }
      }

      &-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100dvw;
        z-index: -1;

        img {
          width: 100%;
          height: 100%;
          opacity: 0.2;
        }

        &--top-gradient,
        &--bottom-gradient {
          height: 600px;
          position: absolute;
          left: 0;
          width: 100%;
          z-index: 1;
        }

        &--top-gradient {
          top: 0;
          background: linear-gradient(
            $primary-color,
            transparent
          );
        }

        &--bottom-gradient {
          bottom: 0;
          background: linear-gradient(
            transparent,
            $primary-color
          );
        }
      }
    }
  }

  &-all {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    &--movies,
    &--theatre {
      width: 90%;

      &-title {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 100px 0;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);

        h2 {
          transform: translateY(-100px);
        }
      }

      &-list {
        flex-wrap: wrap;
        opacity: 0;
      }
    }

    &--movies {
      &-list {
        max-height: 800px;

        &--row:nth-child(1),
        &--row:nth-child(8) {
          border-top: 1px solid $secondary-color;
          border-radius: 2px;
        }
      }
    }

    &--theatre {
      &-list {
        max-height: 300px;

        &--row:nth-child(1),
        &--row:nth-child(3) {
          border-top: 1px solid $secondary-color;
          border-radius: 2px;
        }
      }
    }

    &--movies-list,
    &--theatre-list {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

      &--row {
        position: relative;
        width: 48%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100px;
        border-bottom: 1px solid $secondary-color;
        border-radius: 2px;

        &-name {
          width: 40%;
          font-weight: lighter;
        }

        &-year {
          width: 20%;
          font-weight: bolder;
        }

        &-more {
          position: relative;
          cursor: pointer;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          background-color: $highlight-color;
          display: flex;
          align-content: center;
          justify-content: center;

          &-lines {
            > div {
              position: absolute;
              top: 25%;
              left: 50%;
              width: 2px;
              height: 50%;
              background-color: $secondary-color;
              border-radius: 2px;

              &:first-child {
                transform: rotate(90deg);
                transition: all ease-in-out 0.5s;
              }

              &:last-child {
                transform: rotate(0deg);
                transition: all ease-in-out 0.5s;
              }
            }
          }

          &:hover {
            .work-all--movies-list--row-more-lines,
            .work-all--theatre-list--row-more-lines {
              > div {
                &:first-child {
                  transform: rotate(-90deg);
                  transition: all ease-in-out 0.5s;
                }

                &:last-child {
                  transform: rotate(90deg);
                  transition: all ease-in-out 0.5s;
                }
              }
            }

            .work-all--movies-list--row-more-expand,
            .work-all--theatre-list--row-more-expand {
              transform: scale(1);
              transition: all ease-in-out 0.1s;
            }
          }

          &-expand {
            position: absolute;
            top: -150%;
            right: 150%;
            width: 400px;
            height: 150px;
            border: 1px solid $secondary-color;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            gap: 20px;
            background-color: $primary-color;
            padding: 10px 20px;
            transform: scale(0);
            transition: all ease-in-out 0.1s;
            z-index: 5;

            &--part {
              display: flex;
              justify-content: space-between;
              gap: 10px;
            }

            b {
              font-size: $paragraph-two-size;
            }

            p {
              margin: 0;
              font-size: $paragraph-two-size;
              font-weight: lighter;
              letter-spacing: 0;
            }
          }
        }
      }
    }
  }
}

.show-top-card {
  .work-card {
    &--top {
      &-left {
        h1 {
          animation: show-top 0.5s ease-in-out forwards;
        }

        &--award {
          p {
            animation: show-top 0.6s ease-in-out forwards;
          }
        }

        &--year {
          p {
            animation: show-top 0.7s ease-in-out forwards;
          }
        }

        &--underline {
          animation: show-left 0.8s ease-in-out forwards;
        }

        &--description {
          p {
            animation: show-top 0.8s ease-in-out forwards;
          }
        }
      }

      &-right {
        &--cover {
          img {
            animation: show-cover-image 0.5s ease-in-out
              forwards;
          }
        }
      }
    }
  }
}

.show-bottom-card {
  .work-card {
    &--bottom {
      position: relative;

      &-image {
        img {
          animation: show-guy-image 0.5s ease-in-out
            forwards;
        }

        &--order {
          h1 {
            animation: show-card-order 0.8s ease-in-out
              forwards;
          }
        }
      }
    }
  }
}

.show-video {
  animation: show-video 0.3s ease-in forwards;
}

.hide-top-card {
  .work-card {
    &--top {
      &-left {
        h1 {
          animation: hide-top 0.5s ease-in-out forwards;
        }

        &--award {
          p {
            animation: hide-top 0.6s ease-in-out forwards;
          }
        }

        &--year {
          p {
            animation: hide-top 0.7s ease-in-out forwards;
          }
        }

        &--underline {
          animation: hide-left 0.8s ease-in-out forwards;
        }

        &--description {
          p {
            animation: hide-top 0.8s ease-in-out forwards;
          }
        }
      }

      &-right {
        &-cover {
          &-cover {
            img {
              animation: show-cover-image 0.5s ease-in-out
                forwards;
            }
          }
        }
      }
    }
  }
}

.hide-bottom-card {
  .work-card {
    &--bottom {
      &-image {
        img {
          animation: hide-guy-image 0.5s ease-in-out
            forwards;
        }

        &--order {
          h1 {
            animation: hide-card-order 0.8s ease-in-out
              forwards;
          }
        }
      }
    }
  }
}

.hide-video {
  animation: hide-video 0.3s ease-in forwards;
}

.show-movies {
  .work-all--movies {
    &-title {
      h2 {
        animation: show-table-title 0.5s ease-in-out
          forwards;
      }
    }

    &-list {
      animation: show-table 0.8s ease-in-out forwards;
    }
  }
}

.show-theatre {
  .work-all--theatre {
    &-title {
      h2 {
        animation: show-table-title 0.5s ease-in-out
          forwards;
      }
    }

    &-list {
      animation: show-table 0.8s ease-in-out forwards;
    }
  }
}

@keyframes show-top {
  0% {
    transform: translateY(-200px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes show-left {
  0% {
    transform: translateX(-150px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes show-card-order {
  0% {
    transform: translateY(-100%);
    transform-origin: bottom;
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes show-cover-image {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes show-guy-image {
  0% {
    transform: translateX(100%);
    transform-origin: right;
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes show-video {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes show-table {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes show-table-title {
  0% {
    transform: translateY(-100px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes hide-video {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes hide-top {
  0% {
    transform: translateY(0);
    opacity: 0;
  }

  100% {
    transform: translateY(-200px);
    opacity: 1;
  }
}

@keyframes hide-left {
  0% {
    transform: translateX(0);
    opacity: 0;
  }

  100% {
    transform: translateX(-150px);
    opacity: 1;
  }
}

@keyframes hide-card-order {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-100%);
    transform-origin: bottom;
  }
}

@keyframes hide-cover-image {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes hide-guy-image {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(100%);
    transform-origin: left;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  .work {
    padding-bottom: 0;

    &-card {
      width: 100%;
      margin: 50px 0;

      &--top {
        width: 100%;
        height: auto;
        flex-direction: column-reverse;

        &-left {
          width: 100%;
          text-align: center;
          align-items: center;
          justify-content: space-between;

          h1 {
            margin: 30px 0;
          }
        }

        &-right {
          width: auto;

          &--cover {
            img {
              width: 200px;
            }
          }
        }
      }

      &--bottom {
        height: 500px;

        &-image {
          img,
          video {
            width: 100%;
            height: 350px;
          }
        }
      }
    }

    &-all {
      &--movies,
      &--theatre {
        &-list {
          max-height: none;

          &--row {
            width: 100%;

            &-more {
              &-expand {
                width: 220px;
              }
            }
          }
        }
      }
    }
  }
}
