@import '../../utils/variables';

.work {
  min-height: 1750px;
  margin-top: 75px;

  &-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    h1 {
      font-weight: bold;
      font-size: 3rem;
      margin-bottom: 10px;
    }

    &--underline {
      width: 55px;
      height: 5px;
      border-radius: 8px;
      background-color: $highlight-color;
      transform: scaleX(1);
      transition: all 0.2s ease-in;

      &:hover {
        transform: scaleX(1.1);
        transition: all 0.2s ease-in;
      }
    }
  }

  &-cards {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }

  &-card {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.1s ease-in;
    height: 500px;
    padding: 75px 0;

    &--left {
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);

      &-top {
        h1 {
          width: 50%;
          letter-spacing: 5px;
          font-weight: lighter;
          font-style: italic;
          font-family: $secondary-font-family;
        }

        &--award {
          font-style: italic;
          font-weight: lighter;
          font-size: $small-size;
        }

        &--underline {
          width: 25px;
          height: 2px;
          border-radius: 8px;
          background-color: $highlight-color;
        }
      }

      &-description {
        width: 60%;
        line-break: 10px;
        font-size: $small-size;
        font-weight: lighter;
        letter-spacing: 1px;
      }
    }

    &--right {
      width: 50%;
      position: relative;

      &-cover {
        position: absolute;
        width: 40%;
        top: 0;
        left: 0;
        transform: translate(-50px, 50px);
        z-index: 2;

        img {
          width: 100%;
          transform: scale(0);
        }
      }

      &-guy {
        width: 750px;

        img {
          width: 100%;
          transform: scaleX(0);
        }
      }

      &-order {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translateY(-50px);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);

        h1 {
          font-family: $primary-font-family;
          font-size: 6rem;
          font-style: italic;
          margin: 0;
          transform: translateY(-100%);
        }
      }
    }

    &--separator {
      position: absolute;
      bottom: 0;
      left: 0;
      height: 75px;
      width: 1px;
      border-radius: 8px;
      background-color: $secondary-color;
    }
  }

  .show-card {
    .work-card {
      &--left {
        &-top {
          h1 {
            animation: show-left 0.5s ease-in-out forwards;
          }

          &--award {
            animation: show-left 0.6s ease-in-out forwards;
          }

          &--underline {
            animation: show-left 0.6s ease-in-out forwards;
          }
        }

        &-description {
          animation: show-left 0.7s ease-in-out forwards;
        }
      }

      &--right {
        width: 50%;
        position: relative;

        &-cover {
          img {
            animation: show-cover-image 0.4s ease-in-out
              forwards;
          }
        }

        &-guy {
          img {
            animation: show-guy-image 0.5s ease-in-out
              forwards;
          }
        }

        &-order {
          h1 {
            animation: show-card-order 0.2s ease-in-out
              forwards;
          }
        }
      }

      &--separator {
        animation: show-card-separator 0.8s ease-in forwards;
      }
    }
  }

  .hide-card {
    .work-card {
      &--left {
        &-top {
          h1 {
            animation: hide-left 0.5s ease-in-out forwards;
          }

          &--award {
            animation: hide-left 0.6s ease-in-out forwards;
          }

          &--underline {
            animation: hide-left 0.6s ease-in-out forwards;
          }
        }

        &-description {
          animation: hide-left 0.7s ease-in-out forwards;
        }
      }

      &--right {
        width: 50%;
        position: relative;

        &-cover {
          img {
            animation: hide-cover-image 0.4s ease-in-out
              forwards;
          }
        }

        &-guy {
          img {
            transform: scaleX(0);
            animation: hide-guy-image 0.5s ease-in-out
              forwards;
          }
        }

        &-order {
          h1 {
            transform: translateY(-100px);
            animation: hide-card-order 0.2s ease-in-out
              forwards;
          }
        }
      }

      &--separator {
        transform: scaleY(0);
        animation: hide-card-separator 0.8s ease-in forwards;
      }
    }
  }
}

@keyframes show-left {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes show-card-order {
  0% {
    transform: translateY(-100%);
    transform-origin: bottom;
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes show-cover-image {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes show-guy-image {
  0% {
    transform: scaleX(0);
    transform-origin: right;
  }

  100% {
    transform: scaleX(1);
  }
}

@keyframes show-card-separator {
  0% {
    transform: scaleY(0);
    transform-origin: top;
  }

  100% {
    transform: scaleY(1);
  }
}

@keyframes hide-left {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes hide-card-order {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-100%);
    transform-origin: bottom;
  }
}

@keyframes hide-cover-image {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes hide-guy-image {
  0% {
    transform: scaleX(1);
  }

  100% {
    transform: scaleX(0);
    transform-origin: right;
  }
}

@keyframes hide-card-separator {
  0% {
    transform: scaleY(1);
  }

  100% {
    transform: scaleY(0);
    transform-origin: top;
  }
}
